@charset "UTF-8";
html,body{
	height:100%;
}

body{
	background-color:#776983;
}

#container{
    width: 1200px;
    margin: auto;
    background-color: white;    
    border-radius:12px;
}

#mainDiv {
    width: 960px;
    margin: auto;
    background-color: white;
    height:100%;
    padding:0px 36px;
}

#mainDiv > div{
	padding:18px;	
}

#infoDiv > h2 {
	text-align:center;
	margin: 0px;
    background-color:blue;
    color:white;
    border-radius:15px 15px 0px 0px;
}

#headerDiv{
	min-height:80px;
	background-color:blue;
    color: white;
    border-radius:12px 12px 0px 0px;
}

#headerDiv > h1{
	text-align:center;	
	margin:0px;
	padding:18px;
}


#formDiv {
    background-color: lavender;
    width: 600px;
    margin: auto;
    border-radius:12px;
    margin: 0px auto 36px auto;
    padding:18px;
}

#formDiv > h3 {
	text-align:center;
}

#feedback{
	color:red;
}

input {
	margin:18px 90px;
	width:420px;
}

textarea{
	margin:18px 90px;
	resize:none;
	width:420px;
}
#menu {
 min-height:32px;
 background-color: #afafaf;
}

#menu > div{
	float:left;
	padding:6px 18px;
	width:13.5%;
}

#menu > div > a:hover{
    color: #afafaf;
    background-color: white;
} 


#menu > div > a{
    color: white;
    font-style: normal;
    text-decoration: none;
} 

form > p{
	width:160px;
	float:left;
	padding:0px 36px;
}
#videosDiv{
	min-height:700px;
}

div .videoContainer{
	width:924px;
	background-color: #e5e5e5;
	border-radius:12px;
	
}

div .videoInfoContainer{
	width:100%;
	background-color: #e5e5e5;
	height:234px;
    border-radius:12px;
	
}

.button{
	width:72px;
	height:72px;
	display:block;
	float:left;
	margin-left:15.4%;
}



.videoInfoContainer > div > a > img{
	height:150px;
	max-width:100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.videoLink {
	width:240px;
	display:block;
}

.videoInfoContainer > h2{
	font-size: 18px;
	min-height: 36px;	
    background-color:blue;
    color:white;
    padding:12px 0px 0px 12px;
    border-radius:12px 12px 0px 0px;
}

.videoInfoContainer > div{
	float:left;
	max-width:340px;
    padding:0px 0px 0px 18px;
	
}

#notification {
	position:absolute;
	right:25px;
	top:25px;
	background-color:yellow;
	border-radius:6px;
	font-style:bold;		
}


.processContainer > h3 {
font-size: 18px;
	min-height: 36px;	
    background-color:blue;
    color:white;
    padding:12px 0px 0px 12px;
    border-radius:12px 12px 0px 0px;
}

.processContainer{
width:100%;
	background-color: #e5e5e5;
	height:180px;
    border-radius:12px;
padding-bottom:18px;
}

.boton {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #000000;
    display: block;
    height: 24px;
    margin: 6px 0px;
    padding:3px;
    width:180px;;       
    text-decoration: none;       
}